<script type="text/javascript"> 

// 기이하지만 이렇게 하면 html을 모두 load하고 그리고 나서 정상적으로 ajax통신이 가능해질것이다.
(function(){
    const delegation = document.querySelector(".contents_box");
    const side_box = document.querySelector(".side_box");
    const header = document.querySelector("#header");


    function delegationFunk(e){
        let elem = e.target;

        console.log(elem);

        while(!elem.getAttribute("data-name")){
            elem = elem.parentNode;

            if(elem.nodeName == 'BODY'){  // body가지 올라갔는데도 없다면 
                elem = null;
                return;
            }
        }

        if(elem.matches("[data-name='heartbeat']")){
            console.log('핱');

            var pk = elem.getAttribute('name');
            // 여기서 name은 heartbeat 태그안에 있는 name={{ post.id }} 를 의미한다. 
            console.log(pk);

            $.ajax({
                type: 'POST',
                url : "{% url 'post:post_like' %}",
                data : {'pk' : pk , 'csrfmiddlewaretoken': '{{ csrf_token }}' },  // 요청보내는 것에서 보안적으로 문제가 있으면 안되서 
                // form태그에서 보냈던것과 같인 그래서 고유한요청이 될수 있도록 
                dataType : 'json' ,
                success : function(response){
                    //alert("like성공");
                    var likeCount = document.querySelector("#like-count-"+pk);
                    likeCount.innerHTML = "좋아요 " + response.like_count + "개";
                },
                error : function( request , status , error ) {
                    // alert("like실패");
                    // 상당히 중요한 error가 났을때의 또 예외처리를 알아보자. ( 중요한 이유는 ajax는 무슨error인지 알기가 힘들기 때문에 )
                    alert("code : "+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);  // 와 이거 좀 지린다.                                      
                }
            })

        }else if(elem.matches("[data-name='bookmark']")){
            console.log("북");

            var pk = elem.getAttribute('name');
            console.log(pk);

            $.ajax({
                type: 'POST',
                url : "{% url 'post:post_bookmark' %}",
                data : {'pk' : pk , 'csrfmiddlewaretoken': '{{ csrf_token }}' },  
                dataType : 'json' ,
                success : function(response){
                    var bookmarkCount = document.querySelector("#bookmark-count-"+pk);
                    bookmarkCount.innerHTML = "북마크" + response.bookmark_count + "개";
                },
                error : function( request , status , error ) {
                    alert("code : "+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);                                   
                }
            })

        }else if(elem.matches("[data-name='comment']")){ // data-name이 comment 인것중에 ...
            console.log("새댓글");
            var pk = elem.getAttribute('name'); // data-name comment인것중에 name을 가져와라 name={{ post.id }} or {{ comment.id }}
            var content = document.querySelector("#add-comment-post"+pk+'>input[type=text').value;
            console.log(content);

            // content의 길이를 제안을 걸어봅시다.
            
            if(content.length > 140) {
                alert("댓글은 최대 140자까지 입력가능합니다. 현재 글자수 : "+content.length);
                return;
            }
            $.ajax({
                type : 'POST' ,
                url : "{% url 'post:comment_new' %}",
                data : {
                    'pk' : pk,
                    'content' : content,
                    'csrfmiddlewaretoken' : '{{ csrf_token }}',
                },
                dataType : "html",
                success : function(data, textStatus , jqXHR){
                    console.log('성공!');
                    document.querySelector("#comment-list-ajax-post"+pk).insertAdjacentHTML("afterbegin" , data);
                },
                error : function(request , status , error ){
                    alert("code : "+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);                                   
                }
            })
        }else if(elem.matches("[data-name='comment_delete']")){
            var pk = elem.getAttribute('name');

            $.ajax({
                type : 'POST' ,
                url : "{% url 'post:comment_delete' %}",
                data : {
                    'pk' : pk,
                    'csrfmiddlewaretoken' : '{{ csrf_token }}',
                },
                dataType : "json",
                success : function(response){
                    if(response.status){
                        document.querySelector("#comment"+pk).remove();
                    }
                },
                error : function(request , status , error ){
                    alert("code : "+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);                                   
                }
            })
            
        }else if(elem.matches("[data-name='follow']")){
            var pk = elem.getAttribute('name');
            console.log("pk : "+pk , '팔로우');

            $.ajax({
                type : 'POST' , 
                url : "{% url 'accounts:follow' %}",
                data : {
                    'pk' : pk,
                    'csrfmiddlewaretoken' : '{{ csrf_token }}',
                },
                dataType : 'json' ,
                success : function(response){
                    console.log("성공!");
                    // status : 1은 True , 0은 False 
                    if (response.status){
                        document.querySelector('input.follow[name=\''+pk+'\']').value='팔로잉';
                    }else{
                        document.querySelector('input.follow[name=\''+pk+'\']').value='팔로우';
                    }
                },
                error : function(request , status , error ){
                    alert("code : "+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);                                   
                }
            })




        }


        elem.classList.toggle('on');
    }

    function resizefunc(){
        console.log("resize");
        if(pageYOffset >= 10){
            let calcWidth = (window.innerWidth * 0.5) + 167;
            if(side_box){
                side_box.style.left = calcWidth + "px";
            }
        }
    }

    function scrollfunc(){
        var scrollHeight = pageYOffset + window.innerHeight;
        var documentHeight = document.body.scrollHeight;

        console.log(pageYOffset);
        console.log("scrollHeight : "+scrollHeight);
        console.log("documentHeight : "+ documentHeight);

        if (pageYOffset >= 10){
            header.classList.add('on');
            resizefunc();
            if(side_box){
                side_box.classList.add('on');
            }
        }else{
            header.classList.remove("on");
            if(side_box){
                side_box.classList.remove('on');
                side_box.removeAttribute("style"); // style값도 없에준다. 
            }
        }
        if(scrollHeight >= documentHeight){
            var page = document.querySelector('#page').value 
            var end_page ="{{ posts.paginator.num_pages }}";
            if (page > end_page){
                return;
            }
            document.querySelector("#page").value = parseInt(page);
            callMorePostAjax(page);
        }
    }
    
    function callMorePostAjax(page){
        var end_page ="{{ posts.paginator.num_pages }}";

        if(page > end_page){
            return;
        }
        $.ajax({
            type:'POST' ,
            url : "{% url 'post:post_list' %}",
            data: {
                'page' : page,
                'csrfmiddlewaretoken' : "{{ csrf_token }}"
            },
            dataType : 'html',
            success : addMorePostAjax,
            error : function( request , status , error ) {
                alert("code : "+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        })
    }

    function addMorePostAjax(data , textStatus , jqXHR){
        let post = document.querySelector('#post_list_ajax');

        post.insertAdjacentHTML("beforeend" , data);   // return 받은 post를 'post 뒤쪽' (beforeend)에다가 insert하겠다. 
    }



    window.addEventListener('resize' , resizefunc);
    window.addEventListener('scroll' , scrollfunc);

    delegation.addEventListener('click' , delegationFunk)

})();



</script>