<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    
    <div class="comment-detail">
        <div class="nick_name m_text">kindShin</div>
        <div class="">강아지가 너무 귀여워<button data-name='comment_delete'>삭제</button></div>
    </div>

</body>
</html>