{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_post.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    
    <!-- <!-- <link rel="stylesheet" href="{% static 'js/insta.js' %}"> -->
    <link rel="stylesheet" href="{% static 'js/main.js' %}"> -->

</head>
<body>

    <section id="container">


        <header id="header" class="">
            <section class="inner">
    
                <h1 class="logo">
                    <a href="index.html">
                        <div class="sprite_insta_icon"></div>
                        <div class="sprite_write_logo"></div>
                    </a>
                </h1>
    
                <div class="search_box">
                    <input type="text" placeholder="검색" id="search-field">
    
                    <div class="fake_field">
                        <span class="sprite_small_search_icon"></span>
                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">검색</font></font></span>
                    </div>
                </div>
    
                <div class="right_icons">
                    <a href="new_post.html"><div class="sprite_camera_icon"></div></a>
                    <a href="login.html"><div class="sprite_compass_icon"></div></a>
                    <a href="follow.html"><div class="sprite_heart_icon_outline"></div></a>
                    <a href="profile.html"><div class="sprite_user_icon_outline"></div></a>
                </div>
    
            </section>
    
        </header>
        
        {% block content %}
        {% endblock %}
        
    
    </section>


</body>
</html>